<div class="bn-flex">
  <div class="banner">
    <p class="banner-txt">Building the healthcare system of tomorrow</p>
  </div>

  <div class="banner_1">
    <p class="ban_1_txt1">Our mission is simple</p>
    <br />
    <p class="ban_1_txt2">We believe that practitioners and secretaries are at the heart of the transformation of the
      health system. Our mission is to build with them the offices and hospitals of the future. This is the only way to
      sustainably improve the health of their patients and the working conditions of health professionals.</p>
    <br />
    <button class="ban_1_txt3" mat-button>Discover Our Mission</button>
    <br />
    <br />
    <br />
  </div>
  <br />
  <br />
  <br />
  <div class="banner_2">
    <p class="ban_1_txt1">Doctolib is the leader in e-health in Europe</p>
    <br />
    <br />
    <div class="ban_1_txt2">
      <div id="cnt">
        <span id="hd"> 150,000</span><br />
       <span> practitioners and secretaries use Doctolib daily</span>
      </div>
      <div id="cnt">
        <span id="hd">2,000</span><br/>
        <span>health establishments are equipped with Doctolib</span>
      </div>
      <div id="cnt">
        <span id="hd">42 million</span><br/>
        <span>of patient visits to Doctolib each month</span>
      </div>
      <div id="cnt">
       <span id="hd">1,000</span><br/>
        <span>Doctolibers work hard every day</span>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>
