<div class="home">
  <div class="caption">
    <p id="title">Make an appointment online with a healthy professional</p>
    <p id="sub-title">It's immediate ,simple and free</p>
  </div>
  <div class="ex-Form">
    <ul>
      <li>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Doctor,Specalist">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Code Postal">
        </mat-form-field>
      </li>
      <li>
        <button id="bt-search" mat-button color="primary">SEARCH</button>
      </li>
    </ul>

  </div>
</div>

<div class="learn-more">
  <div class="caption">
    <p id=title> Are you a healthy professional ? <br> Discover making appointment online !</p>
  </div>
  <div class="list">
    <div>Earn 30% secretaral time</div>
    <div>Reduce by 75% of your unfullfilled appointments</div>
    <div>Renew you patience according to your needs</div>
    <div>Bring a new servie to your patients</div>
  </div>
  <div class="bt">
    <button id=bt-learn mat-button>Learn More</button>
  </div>
</div>
<div class="info">
  <div><span id="high-light">15000</span><br /><span id="high-light-bottom">practitioner</span></div>
  <div><span id="high-light">2000</span><br /><span id="high-light-bottom">health facilites</span></div>
  <div><span id="high-light">25 million</span><br /><span id="high-light-bottom">visit per months</span></div>
</div>

