<div class="home">
  <div class="caption">
    <p id="title">Make an appointment online with a healthy professional</p>
    <p id="sub-title">It's immediate ,simple and free</p>
  </div>
  <div class="ex-Form">
    <ul>
      <li>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Doctor,Specalist">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Code Postal">
        </mat-form-field>
      </li>
      <li>
        <button id="bt-search" mat-button color="primary">SEARCH</button>
      </li>
    </ul>

  </div>
</div>

<div class="learn-more">
  <div class="caption">
    <p id=title> Are you a healthy professional ? <br> Discover making appointment online !</p>
  </div>
  <div class="list">
    <div>Earn 30% secretaral time</div>
    <div>Reduce by 75% of your unfullfilled appointments</div>
    <div>Renew you patience according to your needs</div>
    <div>Bring a new servie to your patients</div>
  </div>
  <div class="bt">
    <button id=bt-learn mat-button>Learn More</button>
  </div>
</div>
<div class="info">
  <div><span id="high-light">15000</span><br /><span id="high-light-bottom">practitioner</span></div>
  <div><span id="high-light">2000</span><br /><span id="high-light-bottom">health facilites</span></div>
  <div><span id="high-light">25 million</span><br /><span id="high-light-bottom">visit per months</span></div>
</div>



<div class="footer">



  <div class="abt-search">
    <div class="abt">
      <span id='hd-title'>About Doctolib</span>
      <br />
      <br />
      <li>Are you a health professional?</li>
      <li>Our replacement offers</li>
      <li>The concept</li>
      <li>about us</li>
      <li>Our Investors</li>
      <li>Careers</li>
      <li>Press</li>
      <li>Need help ?</li>
    </div>
    <div class="specalist">
      <span id='hd-title'>Find your specialist</span>
      <br />
      <br />
      <li>Dentist</li>
      <li>General practitioner</li>
      <li>Pediatrician</li>
      <li>Medical and obstetric gynecologist</li>
      <li>ophthalmologist</li>
      <li>Dermatologist and venereologist</li>
      <li>osteopath</li>
      <li> Physiotherapist</li>
      <li>Chiropodist</li>
      <li>Midwife</li>
      <li>ENT</li>
      <li>allergist</li>
      <li>Urologist surgeon</li>
      <li>rheumatologist</li>
      <li>stomatologist</li>
      <li>endocrinologist</li>
      <li>Orthopedic surgeon</li>
      <li>Dietitian</li>
      <li>Psychologist</li>
      <li>Neurologist</li>
    </div>
    <div class="pp-search">
      <span id='hd-title'>Popular searches</span>
      <br />
      <br />
      <li>Dentist</li>
      <li>General practitioner</li>
      <li>Pediatrician</li>
      <li>Medical Gynecologist and Obstetrician</li>
      <li>Ophthalmologist</li>
      <li>Dermatologist and venerologist</li>
      <li>Osteopath</li>
    </div>
  </div>
  <div class="copy">
    <hr />
    <br />
    Copyright@2019 DocterLib
    <br/>
    xxx.Xxx.xxx.XX
    <br/>
    xx.xx.xx
    <br />
    <br />
  </div>
</div>
