<div class="footer">
  <div class="abt-search">
    <div class="abt">
      <span id='hd-title'>About Doctolib</span>
      <br />
      <br />
      <div>Are you a health professional?</div>
      <div>Our replacement offers</div>
      <div>The concept</div>
      <div routerLink="/about">about us</div>
      <div routerLink="/investor">Our Investors</div>
      <div routerLink="/career">Careers</div>
     <div routerLink="/help">Need help ?</div>
    </div>
    <div class="specalist">
      <span id='hd-title'>Find your specialist</span>
      <br />
      <br />
      <li>Dentist</li>
      <li>General practitioner</li>
      <li>Pediatrician</li>
      <li>Medical and obstetric gynecologist</li>
      <li>ophthalmologist</li>
      <li>Dermatologist and venereologist</li>
      <li>osteopath</li>
      <li> Physiotherapist</li>
      <li>Chiropodist</li>
      <li>Midwife</li>
      <li>ENT</li>
      <li>allergist</li>
      <li>Urologist surgeon</li>
      <li>rheumatologist</li>
      <li>stomatologist</li>
      <li>endocrinologist</li>
      <li>Orthopedic surgeon</li>
      <li>Dietitian</li>
      <li>Psychologist</li>
      <li>Neurologist</li>
    </div>
    <div class="pp-search">
      <span id='hd-title'>Popular searches</span>
      <br />
      <br />
      <li>Dentist</li>
      <li>General practitioner</li>
      <li>Pediatrician</li>
      <li>Medical Gynecologist and Obstetrician</li>
      <li>Ophthalmologist</li>
      <li>Dermatologist and venerologist</li>
      <li>Osteopath</li>
    </div>
  </div>
  <div class="copy">
    <hr />
    <br />
    Copyright@2019 DocterLib
    <br />
    xxx.Xxx.xxx.XX
    <br />
    xx.xx.xx
    <br />
    <br />
  </div>
</div>
