<div class="investors">
  <div class="invest-banner">
    <p>
      Our investors support us and share the same values and the same vision as us
    </p>
  </div>
  <div class="invest-banner2">
    <p>
      Since its creation, Doctolib has received 230 million euros in investment. Mainly owned by our founders,
      managers and entrepreneurs, we are 100% independent of any healthcare organization or large company. We
      all share the same long-term vision to help improve our health systems.
    </p>
  </div>
  <div class="invest-group">
    <div class="invest-angel">
      <div>
        <img src="../../../assets/image/investor.jpg" alt="invest.jpg" />
        <br>
        <p id="invest-title">Investor 1</p>
        <br>
        <p id="invest-desc">
          Eurazeo is an international investment company based in Paris which manages € 17 billion in
          assets. It has invested in nearly 400 companies. Eurazeo supports companies of all sizes,
          putting its deep sectoral experience, its privileged access to world markets, as well as its
          responsible approach to value creation based on growth, at the service of their development.
        </p>
      </div>
      <div>
        <img src="../../../assets/image/investor.jpg" alt="invest.jpg" />
        <br>
        <p id="invest-title">Investor 2</p>
        <br>
        <p id="invest-desc">
          Eurazeo is an international investment company based in Paris which manages € 17 billion in
          assets. It has invested in nearly 400 companies. Eurazeo supports companies of all sizes,
          putting its deep sectoral experience, its privileged access to world markets, as well as its
          responsible approach to value creation based on growth, at the service of their development.
        </p>
      </div>
      <div>
        <img src="../../../assets/image/investor.jpg" alt="invest.jpg" />
        <br>
        <p id="invest-title">Investor 3</p>
        <br>
        <p id="invest-desc">
          Eurazeo is an international investment company based in Paris which manages € 17 billion in
          assets. It has invested in nearly 400 companies. Eurazeo supports companies of all sizes,
          putting its deep sectoral experience, its privileged access to world markets, as well as its
          responsible approach to value creation based on growth, at the service of their development.
        </p>
      </div>
    </div>
  </div>
  <div class="invest-group">
    <div class="invest-angel">
      <div>
        <img src="../../../assets/image/investor.jpg" alt="invest.jpg" />
        <br>
        <p id="invest-title">Investor 1</p>
        <br>
        <p id="invest-desc">
          Eurazeo is an international investment company based in Paris which manages € 17 billion in
          assets. It has invested in nearly 400 companies. Eurazeo supports companies of all sizes,
          putting its deep sectoral experience, its privileged access to world markets, as well as its
          responsible approach to value creation based on growth, at the service of their development.
        </p>
      </div>
      <div>
        <img src="../../../assets/image/investor.jpg" alt="invest.jpg" />
        <br>
        <p id="invest-title">Investor 2</p>
        <br>
        <p id="invest-desc">
          Eurazeo is an international investment company based in Paris which manages € 17 billion in
          assets. It has invested in nearly 400 companies. Eurazeo supports companies of all sizes,
          putting its deep sectoral experience, its privileged access to world markets, as well as its
          responsible approach to value creation based on growth, at the service of their development.
        </p>
      </div>
      <div>
        <img src="../../../assets/image/ceo.jpeg" alt="ceo.jpeg" />
        <br>
        <p id="invest-title">Investor 3</p>
        <br>
        <p id="invest-desc">
          Eurazeo is an international investment company based in Paris which manages € 17 billion in
          assets. It has invested in nearly 400 companies. Eurazeo supports companies of all sizes,
          putting its deep sectoral experience, its privileged access to world markets, as well as its
          responsible approach to value creation based on growth, at the service of their development.
        </p>
      </div>
    </div>
  </div>
</div>

