<div class="c_content">
  <div class="c_banner">
    <p><span id="cap"><u>CAREERS</u></span>
      <br />
      <span id="main_cap">Join Our Team</span>
    </p>
  </div>

</div>

<div class="c_ban1">
  <p id="tit">At Doctorlib, the world’s most talented engineers, designers, and thought leaders are shaping the future.
  </p>
  <br />
  <hr />
  <p><span id="tit">Open Position</span><br />Open Positions
    We’re looking for people to join the team who are as excited as we are to help build the platform that empowers the
    future generation of creators to be successful online. send us your cv on jobs@doctolib.com </p>
  <br />
</div>
<br />
<hr />
<br />
<div class="carrier">
  <div id="position">
    <p><span>1 .Data Scientist</span><br />
      Experience : 3yrs<br />salary: 45k<br />mail us: jobs@doctolib.com
    </p>
    <button mat-button>Apply now</button>
  </div>
  <div id="position">
    <p><span>2 .AI Scientist</span>><br />
      Experience : 3yrs<br />salary: 45k<br />mail us: jobs@doctolib.com</p>
    <button mat-button>Apply now</button>
  </div>
  <div id="position">
    <p><span>3 .Regionel Manager</span>><br />
      Experience : 3yrs<br />salary: 45k<br />mail us: jobs@doctolib.com</p>
    <button mat-button>Apply now</button>
  </div>
  <div id="position">
    <p><span>4 .Angualar Developer</span>><br />
      Experience : 3yrs<br />salary: 45k<br />mail us: jobs@doctolib.com</p>
    <button mat-button>Apply now</button>
  </div>
  <div id="position">
    <p><span>5 .Buisness Analysist</span>><br />
      Experience : 3yrs<br />salary: 45k<br />mail us: jobs@doctolib.com</p>
    <button mat-button>Apply now</button>
  </div>
  <div id="position">
    <p><span>6 .Buisness Development Manager</span>><br />
      Experience : 3yrs<br />salary: 45k<br />mail us: jobs@doctolib.com</p>
    <button mat-button>Apply now</button>
  </div>
</div>